<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <div class="image">
                <img src="assets/main/logo-footer.svg">
            </div>
            <div class="links">
                <ul>
                    <li><a>Карта сайта</a></li>
                    <li><a>Политика конфиденциальности</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-links">
            <p class="header">Ссылки</p>
            <ul class="text">
                <li><a>Корпорация Hy-Lok</a></li>
                <li><a>Hy-Lok CША</a></li>
                <li><a>Hy-Lok Европа</a></li>
                <li><a>Hy-Lok Китай</a></li>
            </ul>
        </div>
        <div class="footer-contacts">
            <p class="header">Контакты</p>
            <ul class="text">
                <li><a class="link-mailto" href="mailto:mail@hy-lok.ru"><span class="mail-text">{{ getVid(app.request.cookies) }}</span>@hy-lok.ru</a></li>
                <li><a>г. Москва</a></li>
                <li><a>+7 (900) 123-45-67</a></li>
            </ul>
        </div>
    </div>
    <div class="under-footer">
        <div class="date">
            <p>2009-2022</p>
        </div>
    </div>
</footer>