<header>
    <div class="header-logo">
        <a href="/">
            <img src="/assets/main/hylok-logo.svg">
        </a>
    </div>
    <div class="header-action">
        <ul class="header-links">
            <li>
                <a class="link-mailto mailto-header" href="mailto:{{ getVid(app.request.cookies) }}@hy-lok.ru">
                    <label class="mailto-title">
                        <span class="mail-text">{{ getVid(app.request.cookies) }}</span>@hy-lok.ru
                    </label>
                    <img class="mailto-mini" src="assets/main/mailto.svg" alt="">
                </a>
            </li>
            <li>
                <a class="link-telto telto-header" href="tel:+70000000000">
                    <label class="telto-title">+7 (900) 123-45-67</label>
                    <img class="telto-mini" src="assets/main/telto.svg">
                </a>
            </li>
        </ul>
        <div class="header-extra">
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalForm">Как заказать</button>
        </div>
    </div>
</header>
<hr class="header-divider">
