@media (max-width: 768px) and (min-width: 576px) {
    section .body-info .preview {
        float: left;
        text-align: center;

        margin-top: 40px;
        margin-bottom: 40px;
    }

    section .body-info .description p + p {
        margin-bottom: 2em;
    }

    section .body-info .description .text-tab:before {
        margin-left: 0;
    }

    .body-catalogs .catalogs-container .catalogs .catalog {
        width: 170px;

    }

    .body-certificates .carousel {
        padding: 0 30px;
    }

    .body-certificates .carousel-item .certificates {

    }

    .body-certificates .carousel-item .certificates .cert img {
        width: 195px;
    }

    .body-certificates .carousel-control-next-icon, .body-certificates .carousel-control-prev-icon {
        height: 62px !important;
    }

    .body-certificates .carousel-control-next {
        padding-right: 20px;
    }

    .body-certificates .carousel-control-prev {
        padding-left: 20px;
    }

    .body-certificates .carousel-control-next-icon {
        padding-right: 50px;
    }

    .body-certificates .carousel-control-prev-icon {
        padding-left: 50px;
    }

    footer {
        padding: 41px 30px;
    }

    .footer-contacts {
        padding-right: 0;
    }
    footer .footer-logo .image img {
        width: 225px;
    }
}