@media (min-width: 577px) {
    .telto-mini, .mailto-mini {
        display: none;
    }
}

@media (max-width: 576px) {
    .telto-mini, .mailto-mini {
        display: block;
    }
    .mailto-title, .telto-title {
        display: none;
    }

    header .header-action .header-links li {
        padding: 0 30px;
    }
    header .header-action .header-links {
        flex-direction: row;
    }

    header .header-action .header-extra {
        display: none;
    }

    section .body-info {
        padding: 0;
        padding-top: 70px;
        padding-bottom: 50px;
    }

    section .body-info .preview {
        padding: 0 30px;
        margin-top: 40px;
        margin-bottom: 20px;
        width: 100%;
    }



    section .body-info .description {
        padding: 0 30px;
        width: 100%;
    }

    section .body-productions .product {
        width: 40%;
        min-width: unset;
    }
}