@media (min-width: 1440.1px) {
    section .body-info .preview {
        width: 740px;
        height: 467px;
    }

    section .body-productions .caption-cover {
        padding-top: 1em;
        padding-left: 2em;
    }
}
@media (max-width: 1440px) and (min-width: 1024px) {
    header .header-logo a img {
        width: 225px;
    }

    section .body-info {
        display: block;
    }

    section .body-info .description p + p {
        margin-bottom: 2em;
    }

    section .body-productions-header {
        padding-left: 156px;
    }

    section .body-another .companies div {
        padding: 0 1em;
    }

    section .body-another .companies div img {
        max-width: 300px;
        height: 63px;
    }

    .body-certificates .carousel {
        padding: 0 156px;
    }

    .body-certificates .carousel-control-next {
        padding-right: 56px;
    }

    .body-certificates .carousel-control-prev {
        padding-left: 56px;
    }

    .footer-contacts {
        padding-right: 0;
    }
}