<div class="body-banner">
    <div id="carouselBanner" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators body-scroll">
            <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="30000">
                <img src="assets/slides/1.png" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item" data-bs-interval="30000">
                <img src="assets/slides/2.png" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item" data-bs-interval="30000">
                <img src="assets/slides/3.png" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item" data-bs-interval="30000">
                <img src="assets/slides/4.png" class="d-block w-100" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" style="display: none;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" style="display: none;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
</div>