<div class="body-certificates">
    <div class="header">
        <p>Сертификаты hy-lok</p>
    </div>
    <div class="hylok-carousel">
        <div class="hylok-carousel-container">
            {% for i in 1..certificates %}
                <div class="certificates-item">
                    <div class='certificate'>
                        <img src='/assets/certs/cert{{ i }}.png' alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="hylok-carousel-button button-prev">
            <img src="/assets/main/carousel-prev.svg" alt="">
        </button>
        <button class="hylok-carousel-button button-next">
            <img src="/assets/main/carousel-next.svg" alt="">
        </button>
    </div>
</div>