<div class="body-certificates">
    <div class="header">
        <p>Сертификаты hy-lok</p>
    </div>
    <div class="hylok-carousel">
        <div class="hylok-carousel-container">
            {% for i in 1..certificates %}
                <div class="certificates-item">
                    <div class='certificate'>
                        <img src='/assets/certs/cert{{ i }}.png' alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="hylok-carousel-button button-prev">
            <img src="/assets/main/carousel-prev.svg" alt="">
        </button>
        <button class="hylok-carousel-button button-next">
            <img src="/assets/main/carousel-next.svg" alt="">
        </button>
    </div>
    <!-- DEPRECATED --
    <div style="display: none;" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="50000">
                <div class="certificates">
                    {% for i in 1..certificates %}
                        <div class='cert'>
                            <img src='/assets/certs/cert{{ i }}.png' alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="50000">
                <div class="certificates">
                    {% for i in 1..certificates %}
                        <div class='cert'>
                            <img src='/assets/certs/cert{{ i }}.png'>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
    -- DEPRECATED -->
</div>