.body-catalogs {
    margin-top: 2em;
    margin-bottom: 45px;
}

.body-catalogs .catalogs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-catalogs .catalogs-container .header {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;

    margin-bottom: 1em;
}

section .body-catalogs .catalogs-container .catalogs {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 40px;
    align-items: start;
    justify-content: space-between;
    text-align: center;

    width: 100%;
}

.body-catalogs .catalogs-container .catalogs .catalog {
    width: 225px;
    margin-bottom: 0;
}
.body-catalogs .catalogs-container .catalogs .catalog .image {
    margin-bottom: .5em;
}

.body-catalogs .catalogs-container .catalogs .catalog .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.body-catalogs .catalogs-container .catalogs .catalog .description .text {
    margin-bottom: .5em;
}

.body-catalogs .catalogs-container .catalogs .catalog .description .link {
    color: #263C8A;
    text-decoration: none;
    font-size: 14px;
}

.body-catalogs .under-certs {
    display: flex;
    justify-content: end;
}

.body-catalogs .under-certs .btn-show-more {
    margin-top: 1em;
    padding: .5em 2em;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: white;
    background: #263C8A;
    border: 0;
}

@media (min-width: 1440.1px) {

}

@media (max-width: 1440px) {
    section .body-catalogs .catalogs-container .catalogs {
        max-height: 200px;
        overflow: hidden;
    }
}

@media (max-width: 1024px) {
    section .body-catalogs .catalogs-container .catalogs {
        justify-content: space-around;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
    section .body-catalogs .catalogs-container .catalogs {
        justify-content: space-around;
        grid-gap: unset;
    }

    .body-catalogs .catalogs-container .catalogs .catalog {
        margin-bottom: 2em;
    }
}

@media (max-width: 425px) {
    section .body-catalogs .catalogs-container .catalogs {
        max-height: 175px;
    }
}

@media (max-width: 375px) {

}