.body-certificates {
    background: #F0F0F0;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-bottom: 0;
}

.body-certificates .carousel {
    padding: 0 200px;
    margin-bottom: 0;
}

.body-certificates .header {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;

    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
}

.body-certificates .carousel-item {
    margin-bottom: 0;
}

.body-certificates .carousel-item .certificates {
    display: flex;
    grid-gap: 40px;
    justify-content: center;
}

.body-certificates .carousel-item .certificates .cert {
    width: 350px;
    margin-bottom: 0;
}

.body-certificates .carousel-item .certificates .cert img {
    width: 100%;
}

.body-certificates .carousel-control-prev {
    filter: invert(100%);
    padding-left: 100px;
}

.body-certificates .carousel-control-next {
    filter: invert(100%);
    padding-right: 100px;
}

.body-certificates .carousel-control-next, .body-certificates .carousel-control-prev {
    width: 5% !important;
}


.body-certificates .carousel-control-next-icon, .body-certificates .carousel-control-prev-icon {
    width: 8rem !important;
    height: 100%!important;
}

@media (min-width: 1440.1px) {
    .body-certificates .carousel-control-next-icon {
        padding-right: 100px;
    }

    .body-certificates .carousel-control-prev-icon {
        padding-left: 100px;
    }
}

@media (max-width: 1440px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .body-certificates .carousel-control-next-icon {
        padding-right: 50px;
    }

    .body-certificates .carousel-control-prev-icon {
        padding-left: 50px;
    }
}

@media (max-width: 576px) {

}

@media (max-width: 425px) {

}

@media (max-width: 375px) {

}