section .body-another {
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

section .body-another .header {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 1em;
}

section .body-another .companies {
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

section .body-another .companies div {
    margin: 0;
    padding: 1em 1em;
}

@media (min-width: 1440.1px) {

}

@media (max-width: 1440px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    section .body-another .companies div img {
        max-width: 180px;
        height: 39px;
    }
}

@media (max-width: 576px) {

}

@media (max-width: 425px) {
    section .body-another .companies img {
        max-width: 120px;
        max-height: 60px;
    }
}

@media (max-width: 375px) {

}