html, body, header, section, footer {
    min-width: 320px;
    max-width: 1920px;
}

body {
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

a, p, div {
    font-family: Inter;
}

ul {
    margin-bottom: 0;
}

.link-mailto, .link-telto {
    color: inherit;
}