html, body, header, section, footer {
    min-width: 320px;
}

body {
    margin: 0;
    width: 100%;
    min-width: 320px;
}

ul, p {
    margin-bottom: 0;
}

.link-mailto, .link-telto {
    cursor: pointer;
}

@media (min-width: 1921px) {
    .carousel-inner {
        background: #263C8A;
    }

    .carousel-item img {
        max-width: 1920px;
        margin: auto;
    }
}

@media (min-width: 1440.1px) {
    header, footer,
    section .body-info,
    section .body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    .hylok-carousel-container,
    section .body-certificates .carousel {
        padding-left: 10.43%;
        padding-right: 10.43%;
    }

    .hylok-carousel-button {
        width: 10.43%;
    }

    section .body-certificates .carousel-control-next {
        width: 10.43%;
    }

    section .body-certificates .carousel-control-prev {
        width: 10.43%;
    }
}

@media (max-width: 1440px) {
    header, footer,
    section .body-info,
    section .body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    .hylok-carousel-container,
    section .body-certificates .carousel {
        padding-left: 10.76%;
        padding-right: 10.76%;
    }

    .hylok-carousel-button {
        width: 10.76%;
    }

    section .body-certificates .carousel-control-next {
        width: 10.76%;
    }

    section .body-certificates .carousel-control-prev {
        width: 10.76%;
    }
}

@media (max-width: 1280px) {
    header, footer,
    section .body-info,
    section .body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    section .body-certificates .carousel {
        padding-left: 6.7%;
        padding-right: 6.7%;
    }

    section .body-certificates .carousel-control-next {
        padding-right: 6.7%;
        width: 6.7%;
    }

    section .body-certificates .carousel-control-prev {
        padding-left: 6.7%;
        width: 6.7%;
    }
}

@media (max-width: 1024px) {
    header, footer,
    section .body-info,
    section .body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    section .body-certificates .carousel {
        padding-left: 6.64%;
        padding-right: 6.64%;
    }

    section .body-certificates .carousel-control-next {
        width: 6.64%;
    }

    section .body-certificates .carousel-control-prev {
        width: 6.64%;
    }
}

@media (max-width: 768px) {
    header, footer,
    section .body-info,
    section .body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    section .body-certificates .carousel {
        padding-left: 6.25%;
        padding-right: 6.25%;
    }

    section .body-certificates .carousel-control-next {
        width: 6.25%;
    }

    section .body-certificates .carousel-control-prev {
        width: 6.25%;
    }

    .body-scroll {
        display: none !important;
    }
}

@media (max-width: 576px) {
    header, footer,
    section .body-info,
    section.body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    section .body-certificates .carousel {
        padding-left: 5.2%;
        padding-right: 5.2%;
    }

    section .body-certificates .carousel-control-next {
        width: 5.2%;
    }

    section .body-certificates .carousel-control-prev {
        width: 5.2%;
    }
}

@media (max-width: 425px) {
    header, footer,
    section .body-info,
    section .body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    section .body-certificates .carousel {
        padding-left: 5.8%;
        padding-right: 5.8%;
    }

    section .body-certificates .carousel-control-next {
        width: 5.8%;
    }

    section .body-certificates .carousel-control-prev {
        width: 5.8%;
    }
}

@media (max-width: 375px) {
    header, footer,
    section .body-info,
    section .body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    section .body-certificates .carousel {
        padding-left: 5.3%;
        padding-right: 5.3%;
    }

    section .body-certificates .carousel-control-next {
        width: 5.3%;
    }

    section .body-certificates .carousel-control-prev {
        width: 5.3%;
    }
}
