html, body, header, section, footer {
    min-width: 320px;
    max-width: 1920px;
}

body {
    margin: 0;
    width: 100%;
    min-width: 320px;
}

a {
    text-decoration: none;
}

a, p, div {
    font-family: Inter;
}

ul {
    margin-bottom: 0;
}

.link-mailto, .link-telto {
    color: inherit;
}

@media (min-width: 1440.1px) {
    header, footer,
    section .body-info,
    section .body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    section .body-certificates .carousel,
    section .body-certificates .carousel-control-next,
    section .body-certificates .carousel-control-prev {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media (max-width: 1440px) {
    header, footer,
    section .body-info,
    section .body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    section .body-certificates .carousel,
    section .body-certificates .carousel-control-next,
    section .body-certificates .carousel-control-prev {
        padding-left: 10.83%;
        padding-right: 10.83%;
    }
}

@media (max-width: 1280px) {
    header, footer,
    section .body-info,
    section .body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    section .body-certificates .carousel,
    section .body-certificates .carousel-control-next,
    section .body-certificates .carousel-control-prev {
        padding-left: 86px;
        padding-right: 86px;
    }
}

@media (max-width: 1024px) {
    header, footer,
    section .body-info,
    section .body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    section .body-certificates .carousel,
    section .body-certificates .carousel-control-next,
    section .body-certificates .carousel-control-prev {
        padding-left: 68px;
        padding-right: 68px;
    }
}

@media (max-width: 768px) {
    header, footer,
    section .body-info,
    section .body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    section .body-certificates .carousel,
    section .body-certificates .carousel-control-next,
    section .body-certificates .carousel-control-prev {
        padding-left: 48px;
        padding-right: 48px;
    }

    .body-scroll {
        display: none !important;
    }
}

@media (max-width: 576px) {
    header, footer,
    section .body-info,
    section.body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    section .body-certificates .carousel,
    section .body-certificates .carousel-control-next,
    section .body-certificates .carousel-control-prev {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 425px) {
    header, footer,
    section .body-info,
    section .body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    section .body-certificates .carousel,
    section .body-certificates .carousel-control-next,
    section .body-certificates .carousel-control-prev {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 375px) {
    header, footer,
    section .body-info,
    section .body-scroll,
    section .body-productions-header,
    section .body-productions,
    section .body-another,
    section .body-catalogs,
    section .body-certificates .carousel,
    section .body-certificates .carousel-control-next,
    section .body-certificates .carousel-control-prev {
        padding-left: 20px;
        padding-right: 20px;
    }
}
